.testimonial__container {
  max-width: 700px;
  margin: auto;
}

.testimonial__item {
  text-align: center;
  padding: 0 1.25rem 1.25rem;
}

.thumb {
  height: 5.6rem;
  width: 5.6rem;
  margin: 0 auto;
}

.testimonial__title {
  margin-top: 0.75rem;
}

.subtitle {
  color: #8b88b1;
  font: var(--small-font-size);
}

.comment {
  background-color: var(--container-color);
  padding: 1.875rem;
  margin-top: 1.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 3rem;
}

.comment::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--container-color);
  position: absolute;
  left: 49.5%;
  top: -0.625rem;
  transform: translateX(-7.5px);
}

.testimonial__item .thumb img {
  height: 100%;
  border-radius: 100px; 
  border: 2px solid rgba(121, 121, 121, 0.801);
  object-fit: cover; /* Ensure the image covers the container without distortion */
}

.custom-arrow {
  background-color: hsl(352.96deg 100% 64.9%); /* Color */
  color: white; /* Arrow color */
  border: none;
  border-radius: 50%;
  width: 40px; /* Increase size */
  height: 40px; /* Increase size */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute; /* Positioning */
  top: 88%;
  transform: translateY(-50%);
  z-index: 10;
}

.custom-prev {
  left: 10px; /* Position to the left */
}

.custom-next {
  right: 10px; /* Position to the right */
}

.custom-arrow:hover {
  background-color: #b32d2dde; /* Darker shade on hover */
}
